{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main_content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">The game store offers a diverse collection of video games across genres, providing a one-stop destination for gamers to explore and purchase the latest titles for various gaming platforms. With a wide selection and knowledgeable staff, it caters to the gaming community's diverse preferences and interests.</p>
    </div>
</div>
{% endblock main_content %}